<% include partials/header.ejs %>
    <!-- main content -->
    <main class="container">
            <h1><%= title %></h1>
            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1">First Name:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="First Name">
                </div>
                 <div class="form-group">
                    <label for="exampleInputPassword1">Last Name:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
                </div>             
                 <input type="radio" name="gender" value="male"> Male<br>
                 <input type="radio" name="gender" value="female"> Female<br>
                 
                 <div class="form-group">
                    <label for="exampleInputPassword1">Address:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Address">
                </div>
                 <div class="form-group">
                    <label for="exampleInputPassword1">Phone Number:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <textarea name='comment' id='comment' rows="12" cols="100">Tell us why your son/daughter should be considered!</textarea><br />
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </main>
    <% include partials/footer.ejs %>