<% include partials/header.ejs %>
    <!-- main content -->
    <main class="container">
        <h1><%= title %></h1>
        <section>
            <article>
                       <p> 
                           On this page,  we appreciate three heroes that have really helped paving the way for the International Fleet ! We talk about each
                           generation and how our three heroes span over these different generations and all have been able to help in their own way with the beating 
                           back of the buggers!
                       </p>
                       
                       
                       <center><img src="images/mazer.jpg"></center>
                       <div id="h2"><center><h2>Mazer Rackham</h2></center></div>
                       <center><p>
                           Mazer Rackham is a hero among heroes ! Mazer Rackham and his formation was able to successfuly fend of the second invasion.
                           Through these heroics, the International Fleet was able to set up their defensive line and beat back the remaining buggers, we 
                           owe our very lives to Mazer Rackham and his incredible courage !
                       </p></center>
                       
                       <center><img src="images/graff.jpg"></center>
                       <div id="h3"><center><h3>Colonel Graff</h3></center></div>
                       <center><p>
                           Colonel Graff is the administrator at Battle School that is currently orbiting around earth. Colonel Graff hand picked Ender Wiggins to become one of our best
                           and brightest today. We not only owe Colonel Graff our gratitude but our praise as he has become a hero of International Fleet for bringing
                           our greatest commander to our fold!
                       </p></center>
                       
                       <center><img src="images/ender.jpg"></center>
                       <div id="h2"><center><h2>Ender Wiggins</h2></center></div>
                       <center><p>
                          Andrew "Ender" Wiggins is our finnest commander that we have today ! Right now, Ender Wiggins is trainning in an undisclosed location to beat back the buggers
                          for when they try to attack Earth again. We put all of our hopes and dreams on this young boy, at such an young age, Ender has shown us that he is the best
                          of the International Federation and we thank him for all that he is doing and for all that he will do. 
                       </p></center>
            </article>
        </section>
    </main>
<% include partials/footer.ejs %>