<% include partials/header.ejs %>
    <!-- main content -->
    <main class="container">
      <article>
       <section>
           <article>
        <h1><%= title %></h1>
        <p>Thank you for coming to the International Fleet website, here you will be able take a look at our technology
            and heroes that have helped us in the war against the terrible and brutal alien race that are the buggers.
            
            We hope that after reading through our FAQ and taking a look at the great advantages that you can have today
            from signing up to one of our many programs, that you will be apart of the future that is the Internation Fleet!
        </p>
        <h2>So what is the International Fleet?</h2>
        <p>The International Fleet was a military organization formed to protect Earth from the Formics AKA Buggers after the end of the First Invasion. 
            Following the second invasion, we at the International Fleet were in the position to defend Earth at all costs, we had a fleet sent to the comet shield to 
            make sure that the buggers would never harm Earth ever again!
            </p>
            <p>
               Now that the International Fleet is able to defend Earth, we were able to set up multiple facilties to enable our childrens future
               and education. Now anyone has the ability to join one of our many prestigious schools ! Choosing the International Fleet couldn't
               be a better choice today ! Your child may be the future of our ever growing fleet and could one be a star, just like Ender Wiggns, who has become
               one of our many rising stars and the best and brightest of his generation.
            </p>
            
            <center><img src="images/battleschool.jpg"></center>
            
            <h3>The Buggers</h3>
            
            <p>
                So what are these buggers? The buggers or "Formics" are an evil alien race that have tried to desperately colonize on earth to steal away our
                precious natural sources. During the second invasion, our hero Mazar Rackham heroicly sacraficed his life to be able to get rid of the bugger menace, 
                by sighning up today, your son and or daughter will be able too become a hero as well ! Here is one of our videos presented to you by our very own Principal
                Graff!
            </p>
            
            <center><iframe width="560" height="315" src="https://www.youtube.com/embed/0MOqoRSWHCs" frameborder="0" allowfullscreen></iframe></center>
        
           </article>
       </section>
    </main>
<% include partials/footer.ejs %>