<% include partials/header.ejs %>
    <!-- main content -->
    <main class="container">
        <h1><%= title %></h1>
        <section>
            <article>
        <center><p> 
          Here at the I.F, we have some of the latest and greatest technology that we use to get the best results. On this page we show some 
           of our most secret pieces of technology, to show that your son/daughter will be trained in using some of the greatest technology that
           the human race has ever conceived!
        </p></center>
        
        <div id="img1"><img src="images/monitor.jpg"></div>
        <div id="monitor"><h3>Monitor:</h3></div>
        <div id="p1"><p>These little devices are used to monitor our young generation to help with their education process. Through this device, we are
            able to find the best path for children as they make their way to the prestigious Battle School.
        </p></div>
        
      <div id="img2"><img src="images/battleroom.jpg"></div>
      <div id="battleroom"><h3>Battle Room:</h3></div>
      <div id="p2"><p>
          The Battle Room is the most significant part of Battle School! The chamber is at the center of the rotating "wheel" 
          of the Battle School space station, where forces are able to artificially create low gravity.
          There are nine identical Battle Rooms that we use where students are able to train as apart of an army to create what it would
          feel like to be apart of a fleet.
      </p></div>
      
      <div id="img3"><img src="images/mindgame.jpg"></div>
      <div id="mindgame"><h3>Mind Game:</h3></div>
      <div id="p3"><p>
         The Mind Game, also known as the Fantasy Game, is an advanced computer program that our students at the Battle School use to increase their mental fortitude.
          The Mind Game is able to adapt to each of the student’s personality and is used by the Battle School staff to monitor our student’s psychiatric health.
          </p></div>
          
      <div id="img4"><img src="images/ship.jpg"></div>
      <div id="ship"><h3>Molecular Disruption Device:</h3></div>
      <div id="p4"><p>
         The Molecular Disruption Device, also known as the Molecular Detachment Device, M.D. Device, Doctor Device, or Little Doctor.
          The newest creation by the I.F that will protect Earth along with the rest of our fleet, with this ship no one needs to worry about another
          invasion ever again. </br>
          The Little Doctor has two beams, which when fired meet together to create a field in which electrons could not be shared. The field spreads out in a sphere, but becomes weaker the longer it disperses. If the field comes into contact with more molecules, it gets stronger and the dispersal process starts over.
          </p>
            </article>
          </section>
    </main>
<% include partials/footer.ejs %>