html{
    background-image: url(../images/space.jpg);
}

body{
	font-size: 150%;
	font-family:sans-serif;
	color: #333;
	width: 1200px;
	background-color: white;
	margin: 20px auto;
	padding: 2em 2em 4em 2em; 
	border-radius: 4px; 
    
}

h1{
    font-family:sans-serif;
    text-align: center;
}
#h2{
    text-decoration: underline;
}
#h3{
    text-decoration: underline;
}
#h4{
    
    text-decoration: underline;
}
p{
    text-align: left;
}
#monitor{
    text-decoration: underline;
}
#img1{
    float: left;
    border: 1px dotted black;
    margin-right: 40px; 
}
#p1{
    margin-bottom: 150px;
}
#img2{
    float: right;
    border: 1px dotted black;
    margin-left: 40px; 
}
#battleroom{
     text-decoration: underline;
}
#p2{
    margin-bottom: 150px;
}
#img3{
    float: left;
    border: 1px dotted black;
    margin-right: 40px; 
}
#mindgame{
    text-decoration: underline;
}

#p3{
    margin-bottom: 150px;
}
#img4{
     float: right;
    border: 1px dotted black;
    margin-left: 40px; 
}
#ship{
    text-decoration: underline;
}
