html{
    background-color: black;
}

body{
	font-size: 100%;
	font-family:sans-serif;
	color: #333;
	width: 750px;
	background-color: white;
	margin: 20px auto;
	padding: 2em 2em 4em 2em; 
	border-radius: 4px; 
}
